@font-face{
  font-family: junegull1;
  src: url(/junegull/junegull-regular.ttf);
}
@font-face{
  font-family: junegull2;
  src: url(/junegull/junegull-regular.woff);
}
@font-face{
  font-family: junegull3;
  src: url(/junegull/junegull-regular.woff2);
}
body{
  background-color: #292929;
  margin: 0;
  color: #ffffff;
}
#body{
  font-family: "junegull1", "junegull2", "junegull3";
  font-size: 17px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;

  .GLASSlOLLIPOPS_div{
    width: 85%;
    height: 200px;
    background-color: #a8e4a052;
    backdrop-filter: blur(40px);
    border-radius: 15px;
    padding: 25px;
    margin: 10px auto;
    .GLASSlOLLIPOPS_div{
      border: #ffffff 2.5px solid;
    }
  }
  .GLASSlOLLIPOPS_span{
    display: inline-block;
    background-color: #292929;
    border-radius: 8px;
    padding: 5px 8px;
    margin: 2px;
    .GLASSlOLLIPOPS_span{
      border: #ffffff 2px solid;
    }
  }
  .GLASSlOLLIPOPS_header{
    border: #ffffff 3.5px solid;
    border-top: 0;
    width: 76%;
    background-color: #ff4e756e;
    backdrop-filter: blur(40px);
    border-radius: 0 0 81px 81px;
    padding: 20px 40px 30px;
    // padding-bottom: 40px;
    margin: 10px auto;
    margin-top: 0;

  }
}
