.GLASSlOLLIPOPS_div {
    display: inline-block;
    width: auto;
}

#checkbox + label {
    background: url("/svg/russia_am7b40toekzm.svg") center/cover;
    height: 34px;
    width: 34px;
    margin: 30px;
    transition: 0.15s;
}

#checkbox:checked + label {
    background: url("/svg/united_states_8ryw89cqyxg0.svg") center/cover;
    transition: 0.15s;
}

.mainBlockFilm {
    transition: 0.3s;
    width: 364px;
    margin: 20px;

    .film_imgSpan {
        display: flex;
        align-items: center;

        img {
            // transition: 0.3s;
            height: 223px;
            margin: 10px;
            border-radius: 10px;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                margin: 5px;
            }
        }
    }

    .longText {
        display: none;
    }
    .buttonBlock {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .A2ButtonBlock {
        margin-top: 20px;
        display: none;
        justify-content: space-evenly;
    }
}
.maximumLength_buttonText {
    .longText {
        display: inline;
    }
    .shortText {
        display: none;
    }
    .A2ButtonBlock {
        display: flex;
    }
    .buttonBlock {
        display: none;
    }
}
.minimumLength_buttonText {
    .longText {
        display: none;
    }
    .shortText {
        display: inline;
    }
    .A2ButtonBlock {
        display: none;
    }
    .buttonBlock {
        display: flex;
    }
}
.maximumLength {
    width: 818px;
    animation: maximumLength_anime 1s 1;
}

@keyframes maximumLength_anime {
    from {
        width: 364px;
    }
    to {
        width: 818px;
    }
}
.minimumLength {
    width: 364px;
    animation: minimumLength_anime 1s 1;
}

@keyframes minimumLength_anime {
    from {
        width: 818px;
    }
    to {
        width: 364px;
    }
}
.off {
    // display: none;
    animation: off_anime 1s 1;
    // display: none;
    width: 0px;
    display: none;
    div {
        display: none;
    }
    span {
        display: none;
    }
    img {
        display: none;
    }
    button {
        display: none;
    }
}

@keyframes off_anime {
    from {
        width: 364px;
        display: block;
    }
    to {
        width: 0px;
        padding: 0;
    }
}
.on_buttonText {
    div {
        display: none;
    }
    span {
        display: none;
    }
    img {
        display: none;
    }
    button {
        display: none;
    }
}
.on {
    // display: none;
    animation: on_anime 1s 1;
    // display: none;
    width: 0px;
    display: block;
    width: 364px;
    // div {
    //     display: none;
    // }
    // span {
    //     display: none;
    // }
    // img {
    //     display: none;
    // }
    // button {
    //     display: none;
    // }
}

@keyframes on_anime {
    from {
        display: block;
        width: 0px;
        padding: 0px;
    }
    to {
        width: 364px;
        padding: 25px;
    }
}

@media screen and (max-width: 460px) {
    .mainBlockFilm {
        width: 100%;

        .film_imgSpan {
            flex-direction: column;
        }
    }
}
