.GLASSlOLLIPOPS_div{
    display: inline-block;
    width: auto;
}
#checkbox + label{
    background: url("/svg/russia_am7b40toekzm.svg") center/cover;
    height: 34px;
    width: 34px;
    margin: 30px;
    transition: 0.15s;
}
#checkbox:checked + label{
    background: url("/svg/united_states_8ryw89cqyxg0.svg") center/cover;
    transition: 0.15s;
}
.movieBlockFlex{
    transition: 0.3s;
    width: 364px;
    margin: 20px;
    .movieBlock{
        display: flex;
        align-items: center; 
        img{
            height: 223px;
            margin: 10px;
            border-radius: 10px;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                margin: 5px;
            }
        }
    }
    .buttonBlock{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        
    }
    .A2buttonBlock{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        
    }
}